name: Manual Deploy Pipeline

on:
  workflow_dispatch:

jobs:
  deploy-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Simulate deployment
        run: |
          echo "Starting deployment..."
          echo "Deployment Applcation.."
          sleep 5
          echo "Deployment completed successfully!"
