name: Manual Deploy Pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment to deploy"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - stage
          - prod

jobs:
  deploy-job:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print environment secret
        run: |
          echo "Deploying to: ${{input.environment}}"
          echo "App URL is: ${{secrets.APP_URL}}"


      - name: Deploy to selected environment
        run: |
          echo "Deploying to environment: ${{ inputs.environment }}"
            echo "App URL is: ${{secrets.APP_URL}}"
          sleep 3
          echo "Deployment completed successfully for ${{ inputs.environment }}"

