name: Manual Deploy Pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment to deploy"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - stage
          - prod

jobs:
  deploy-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to selected environment
        run: |
          echo "Deploying to environment: ${{inputs.environment}}"
          echo "Starting deployment.."
          sleep 3
          echo "Deployment completed successfully! for ${{input.environment}}"
